card_deck_manager~=2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
google-auth==2.47.0
idna==3.11
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jeepney==0.9.0
keyring==25.7.0
keyrings.google-artifactregistry-auth==1.1.2
more-itertools==10.8.0
pluggy==1.6.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
requests==2.32.5
rsa==4.9.1
ruff==0.14.10
SecretStorage==3.5.0
urllib3==2.6.3
